/* Show it is fixed to the top */

html {
  background-color: rgb(211, 211, 211);
}

body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.above-nav{
  height: 0px;
  background-color: rgb(255, 255, 255);
   {
      color:#fff;
      line-height: 100px;
      font-size:20px;
      padding: 0;
  }
}

.header {
  margin-bottom: -50px;
}

.sidebar {
    margin-top:0px;
    margin-bottom: 0px;
}
