/* Show it is fixed to the top */
body {
  width: 100%;
  padding: 0;
  margin: 200pt;
  /*min-height: 75rem;
  margin-top: -200px;*/
}

.above-nav{
  width: 100%;
  padding: 0;
  margin: 200pt;
  height: 0px;
  background-color: rgb(255, 255, 255);
   {
      color:#fff;
      line-height: 100px;
      font-size:20px;
      padding: 0;
  }
}

.header {
  margin-bottom: -50px;
}

.sidebar {
    margin-top:-20px;
    margin-bottom: 0px;
}
