/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.above-nav{
  height: 50px;
  background-color: rgb(88, 62, 126);
   {
      color:#fff;
      line-height: 100px;
      font-size:20px;
      padding: 0;
  }
}

.header {
  margin-bottom: 4rem;
}

.sidebar {
    margin-top:-50px;
    margin-bottom: 30px;
}